label {
    display: inline-block;
    padding-right: 5px;
    text-align: right;
    font-size: 20px;
}

input{
    margin-bottom: 5px;
    align-items: center;
    margin-left: 20px;
    width: 20%;
    height: 34px;    
    padding-left: 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

button {
    font-size: 20px;
    border: 1px solid lightgray;
    margin-left: 5px;
}