h1{
   // color: $cor;
    text-align: center;
}

.options{
    text-align: right;
}

.options a {
    padding-left: 6px;
}

#btn-submit{
    margin-top: 10px;
    margin-bottom: 40px;
}

#conteudo{
    font-size: 20px;
    text-align: justify;
    padding: 40px;

}

#imagem{

    display: block;
    margin-left: auto;
    margin-right: auto;

    
}



/*body{
    background-color: $background-color;
}*/

