h1{
   // color: $cor;
    text-align: center;
}

.invalid-feedback {
    display: block;
}

.options{
    text-align: right;
}

.options a {
    padding-left: 6px;
}

.card-body div { 
    margin-bottom: 10px;
}

#btn-submit{
    margin-top: 10px;
    margin-bottom: 40px;
}

#conteudo{
    font-size: 16px;
    text-align: justify;
    padding: 40px;

}

#imagem{

    display: block;
    margin-left: auto;
    margin-right: auto;

    
}
.div-login{
    margin-bottom: 20px;
    display: flex;
   
}
.login-group {
    padding: 10px;
    flex-grow: 1;
    flex-direction: column;
    

}

.login-group button {
    margin-top: 29px;
    
}

#bnt-login-div{
    margin-top: 39px;
    
}






/*body{
    background-color: $background-color;
}*/

