<h1> O jogo Vigilantes da Floresta </h1>
 <div>
        <img id="imagem" src="img/jogo.jpeg">
    </div>
    <div id="conteudo">
        <h3>Motivação</h3> 
        Os incêndios florestais cresceram de forma vertiginosa no Brasil durante o ano 2020 em quase todos os biomas, de acordo com informações do Instituto Nacional de Pesquisas Especiais (Inpe). 
        Por exemplo, entre janeiro e agosto, foram registrados 44013 focos de queimadas na Amazônia e no Pantanal.
        No jogo <b> Vigilantes da Floresta </b> o jogador vigia uma determinada reserva florestal contra incêndios e outros males.
    </div>

     <div id="conteudo">
        <h3>Regras</h3>
        <lu>
            <li> O jogo começa ao pressionar a tela S (de start).</li>
            <li> O número de vidas inicialmente será 5.</li>
            <li> O jogo deverá ser pausado caso o jogador pressione a tecla p.</li>
            <li> O jogo termina (game over) quando acaba o número de vidas do jogador.  </li>
            <li> Quando o jogo inicia, começa a aparecer focos de incêncio ao longo da reserva florestal, em intervalos de tempo randômicos que variam entre 1 e 4 segundos. O foco de incêndio fica visível durante 2 segundos, que é o período de tempo que o jogador tem para clicar no foco e apagá-lo. </li>
            <li> Caso o jogador consiga apagar o foco de incêndio, ele ganha 10 pontos. Caso não consiga, o jogador irá perder 1 vida. </li>
            <li> Além dos focos de incêncio, caveiras de fogo também aparecem na reserva florestal</li>
            <li> Da mesma forma que os focos de incêncio, as caveiras de fogo ficam visíveis durante 2 segundos, que é o tempo que o jogador tem para clicar na caveira e destruí-la. Caso não consiga, o jogador irá perder 2 vidas. </li>
        </lu>

    </div>


</body>
</html>