<h1> O jogo Vigilantes da Floresta </h1>
 <div>
        <img id="imagem" src="img/jogo.jpeg">
    </div>
    <div id="conteudo">
        Os incêndios florestais cresceram de forma vertiginosa no Brasil durante o ano 2020 em quase todos os biomas, de acordo com informações do Instituto Nacional de Pesquisas Especiais (Inpe). 
        Por exemplo, entre janeiro e agosto, foram registrados 44013 focos de queimadas na Amazônia e no Pantanal.
        No jogo <b> Vigilantes da Floresta </b>, o jogador vigia uma determinada reserva florestal contra incêndios e outros males.
    </div>
</body>
</html>